.places {
    display: grid;
    gap: 50px;
}

@media (min-width: 768px) {
    .places {
        gap: 28px;
    
    }
   }

   @media (min-width: 1024px) {
    .places {
        gap: 80px;
    
    }
   }