.header__lang-link-ru {
    margin-right: 14px;
    text-decoration: none;
}

.header__lang-link-ru:hover {
    opacity: 0.5;
    transition: 0.5s;
}

@media (min-width: 768px) {
    .header__lang-link-ru {
        margin-right: 11px;
    }
}