.cover {
    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 66px;
    background-color: #2A2C2F;
    aspect-ratio: 16/9;
    max-width: 100%;
}

@media (min-width: 768px) {
    .cover {
      min-height: 480px;
      margin-top: 90px;
    }
  }

  @media (min-width: 1024px) {
    .cover {
      min-height: 640px;
      margin-top: 90px;
    }
  }


  @media (min-width: 1280px) {
    .cover {
      max-height: 740px;
      margin: 90px 48px 0;
      aspect-ratio: 8/5;
    }
  }