.cover {
    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 66px;
    background-color: #2A2C2F;
}

@media (min-width: 768px) {
    .cover {
      min-height: 480px;
      margin-top: 90px;
    }
  }